<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link th:href="@{/css/mycss.css}"
        href="../css/mycss.css" rel="stylesheet">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<br>
<br>
<h1 style="text-align: center;">🧗‍♂️</h1>
<a href="/index.html" style="text-decoration: none;">
  <h1>
    <strong>
      <div style="text-align: center;font-style: italic;">
        Challengers
      </div>
    </strong>
  </h1>
</a>
</h1>

<ul>
  <a href="/Notice.html">
    <li class="l_left">Notice</li>
  </a>
  <a href="/basic/Boards">
    <li class="l_left">Board</li>
  </a>
  <a href="/Contact.html">
    <li class="r_right">Contact</li>
  </a>
  <a href="/About.html">
    <li class="r_right">About</li>
  </a>
</ul>

<br><br>
<hr>


<div class="container">
  <div class="py-5 text-center">
  </div>

  <table class="table table-hover">
    <thead>
    <tr>
      <th>제목</th>
      <th>작성자</th>
      <th>작성일</th>
    </tr>
    </thead>
    <tbody>
    <!-- 게시물 넘버, 제목, 작성자, 날짜 -->
    <tr>
      <td th:text="${board.title}">제목</td>
      <td th:text="${board.userid}">작성자</td>
      <td th:text="${board.date}">날짜 </td>
    </tr>
    </tbody>
  </table>
  <div>
    <input type="text" id="content" name="content" class="form-control"
           value="10" th:value="${board.content}"readonly>
  </div>
  <hr class="my-4">
  <div class="row">
    <div class="col">
      <button class="w-100 btn btn-primary btn-lg"
              onclick="location.href='editForm.html'"
              th:onclick="|location.href='@{/basic/Boards/{boardId}/edit(boardId=${board.id})}'|"
              type="button">게시글 수정</button>
    </div>
    <div class="col">
      <button class="w-100 btn btn-secondary btn-lg"
              onclick="location.href='Boards.html'"
              th:onclick="|location.href='@{/basic/Boards}'|"
              type="button">목록으로</button>
    </div>
  </div>
</div> <!-- /container -->
</body>
</html>